# Regrences
# - https://enu23456.hatenablog.com/entry/2022/11/24/195744
name: CI
run-name: ${{ github.workflow }} (${{ github.ref_name }})

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'src/**'
      - '**/*.py'
      - 'tests/**'
      - 'packages/**'
      - '.github/workflows/CI.yml'
      - 'pyproject.toml'
      - 'setup.py'
      - 'setup.cfg'
      - 'requirements*.txt'
      - 'tox.ini'
    paths-ignore:
      - '**/*.md'
      - '**/*.txt'
      - '**/*.rst'
      - 'docs/**'
      - '*.md'
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    paths:
      - 'src/**'
      - '**/*.py'
      - 'tests/**'
      - 'packages/**'
      - '.github/workflows/CI.yml'
      - 'pyproject.toml'
      - 'setup.py'
      - 'setup.cfg'
      - 'requirements*.txt'
      - 'tox.ini'
    paths-ignore:
      - '**/*.md'
      - '**/*.txt'
      - '**/*.rst'
      - 'docs/**'
      - '*.md'

jobs:
  build-linux:
    runs-on: ubuntu-latest
    # runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13", "3.14"]
      max-parallel: 6

    steps:
    - uses: actions/checkout@v4
    - name: Setup Miniforge
      uses: conda-incubator/setup-miniconda@v2
      with:
        miniforge-version: latest
        python-version: ${{ matrix.python-version }}
        auto-activate-base: false
        channels: conda-forge
    - name: Install dependencies
      shell: bash -l {0}
      run: |
        pip install .[test,optional]
    - name: Test with pytest
      shell: bash -l {0}
      run: |
        pytest -xs .
